#Contacto {
  background-image: url("../images/fondo-contacto.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#proyectos {
  background-image: url("../images/fondo-proyectos.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#inicio {
  background-image: url("../images/fondo-contacto.png");
  background-repeat: no-repeat;
  background-size:cover;
}
#sobre-mi {
  background-image: url("../images/fondo-proyectos.png");
  background-repeat: no-repeat;
  background-size:cover;
}

.active {
  border: 1px solid red;
  font-size: px;
  border-radius: 50px;
  padding: px;
  font-weight: 100;
}

/*  Seccion Footer  */
footer i {
  font-size: 35px;
  border: 1px solid;
  height: 48px;
  width: 58px;
  text-align: center;
  padding: 10px 0 0 0;
  border-radius: 80px;
  margin: 0 15px;
  color: red;
}
.mx-auto {
  margin: auto;
  max-width: max-content;
}
::placeholder {
  color: blue;
  font-size: 16px;
}
#formulario form {
  padding: 7px;
}

h1 {
  color: red;
}

.fa-github {
  font-size: 30px;
  color: #f80606;
  background-color: white;
}

.fa-linkedin-in {
  font-size: 30px;
  color: #e90000;
  background-color: rgb(255, 255, 255);
}
.fa-whatsapp {
  font-size: 30px;
  color: #e90000;
  background-color: rgb(255, 255, 255);
}

#enviar form {
  text-align: right;
}

footer,
footer a {
  color: white;
  padding: 30px;
  text-decoration: none;
}

.btn2 {
  border-radius: 50px;
}

#inicio .div-cohete {
  height: 350px;
}
#inicio .cohete {
  height: 300px;
}
#inicio .cohete:hover {
  height: 410px;
}
#inicio .input-home p {
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 50px;
  font-weight: 600;
}
.btn:hover {
  color: #ffffff;
  background-color: #370a6d;
}
.btn3 {
  background-color: #ffffff;
  color: #370a6d;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 35px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
}
#proyectos footer,
#proyectos footer a {
  color: #e20000 !important;
}
#proyectos footer .fa-github {
  font-size: 35px;
  color: white;
  background-color: red;
}
#proyectos footer .fa-linkedin-in {
  color: whitesmoke;
  background-color: #e20000;
  font-size: 35px;
}
#proyectos h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding: 0px;
  margin: 0px;
}
#proyectos p {
  font-size: 15px;
}
#proyectos img {
  height: 177px;
}
.color-gradiente {
  background: rgba(184, 37, 20, 1);
  background: -moz-linear-gradient(
    left,
    rgba(184, 37, 20, 1) 0%,
    rgba(214, 52, 30, 1) 47%,
    rgba(240, 47, 23, 1) 70%,
    rgba(240, 47, 23, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(184, 37, 20, 1)),
    color-stop(47%, rgba(214, 52, 30, 1)),
    color-stop(70%, rgba(240, 47, 23, 1)),
    color-stop(100%, rgba(240, 47, 23, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(184, 37, 20, 1) 0%,
    rgba(214, 52, 30, 1) 47%,
    rgba(240, 47, 23, 1) 70%,
    rgba(240, 47, 23, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(184, 37, 20, 1) 0%,
    rgba(214, 52, 30, 1) 47%,
    rgba(240, 47, 23, 1) 70%,
    rgba(240, 47, 23, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(184, 37, 20, 1) 0%,
    rgba(214, 52, 30, 1) 47%,
    rgba(240, 47, 23, 1) 70%,
    rgba(240, 47, 23, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(184, 37, 20, 1) 0%,
    rgba(214, 52, 30, 1) 47%,
    rgba(240, 47, 23, 1) 70%,
    rgba(240, 47, 23, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82514', endColorstr='#f02f17', GradientType=1 );
}

#idiomas .card-idioma {
  border-radius: 15px;
}
#idiomas .card {
  background-color: #370a6d;
  border-radius: 15px;
  padding: 40px 0;
}
#idiomas {
  background-color: #eee;
}
#idiomas h2 {
  font-size: 16px;
  font-weight: 600px;
}
#idiomas ul {
  padding: 0px;
  font-size: 14px;
  color: #282828;
  list-style-type: none;
}
#idiomas .fas {
  font-size: 80px;
  color: white;
}
#experiencia h2,
#experiencia h4 {
  color: #370a6d;
}
#experiencia h2,
#formacion h2 {
  font-weight: 400;
  font-size: 24px;
}
#formacion h2,
#formacion h4 {
  color: #e20000;
}
#experiencia h3,
#formacion h3 {
  color: #6a6a6a;
  font-size: 18px;
  font-weight: 600;
}
#experiencia h4,
#formacion h4 {
  font-size: 17px;
}
#experiencia h5,
#formacion h5 {
  color: #6a6a6a;
  font-size: 14px;
}
#proyectos .link-rojo {
  text-decoration: none;
  color: tomato;
}
#proyectos footer,
footer a {
  color: white;
  padding: 30px;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  color: #e20000;
}
p {
  color: #6a6a6a;
  font-size: 14px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 14px;
  color: #282828;
  font-weight: 300;
}
#sobre-mi .img-circle {
  display: block;
  background-color: #fff;
  padding: 10px;
  border-radius: 100%;
}

.nav-link {
  color: black;
}

.lolo {
  padding-left: 600px;
}
.btn.btn-rojo{
  background-color: #e20000;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: 100;
  border-style: dashed;}
.navbar-collapse {
  padding: 20px 0px 75px 75px;
  width: 900px;
  height: 40px;
  

 

.nav-link {
  margin-left: 20px;
}p
